body {
    line-height: 1.5em;
    margin: 0 auto;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 14px;
    color: #030303;
    background-color: #b2babb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* This ensures that the content is vertically centered */
}

main {
    max-width: 720px;
    padding: 18px;
    background: #ffffff;
    width: 100%; /* Ensures the main content takes the full width if less than max-width */
    box-sizing: border-box; /* Includes padding in the width */
    text-align: center;
}

header, footer, main {
    padding: 7px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width */
    align-items: center;
}

.form-row {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Full width */
    margin-bottom: 15px; /* Space between rows */
}

/* Style for a single form row with two inputs (upper and lower tolerance) */
.form-row-tolerance {
    justify-content: space-evenly;
    margin-top: 15px; /* Increased space between rows */
    
}

/* Style for the button to be on its own line */
.form-row-button {
    justify-content: center;
    margin-top: 15px;
}

input[type="number"], select {
    flex: 1; /* Allow inputs to grow and fill the space */
    margin: 0 10px; /* Add horizontal spacing between inputs */
}

button {
    width: auto; /* Allow the button to size according to its content */
    padding: 10px 20px; /* Button padding for better touch area */
}

#result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: left; /* Aligns the text to the left within the result area */
}

/* Disclaimer styles */
footer {
    margin-top: 20px;
    padding: 10px;
    text-align: center; /* Ensures the disclaimer text is centered */
    width: 100%; /* Ensures the footer takes the full width */
    box-sizing: border-box; /* Includes padding in the width */
}

.disclaimer {
    font-size: 12px; /* Smaller font size for disclaimers */
    color: #6c757d; /* A standard color for disclaimers */
    margin: 5px 0; /* Space between disclaimer lines */
}

header {
    margin-bottom: 20px; /* Space below the header */
}

header h1, header p {
    max-width: 720px;
    margin: 0 auto;
}

/* Ensure all text elements within the header are centered and have a limited width */
header h1, header p {
    text-align: center;
}

